.button{
  background-color: rgb(184, 82, 38);
  border-style: solid;
  border-color:rgb(108, 48, 22);
  border-width: 0.2rem;
  border-radius:1.2rem;
  color: aliceblue;
  height:3rem;
  width:6rem;
  font-size: 1.3rem;
  margin: 3rem;
  cursor: pointer;

}
.button:hover{
  opacity: 0.6;
  transition: opacity 0.18s;
}
.button:active{
  opacity:0.4;
}

#image{
  height:20rem;
  width:12rem;
}